# UFO Sightings

## Import UFO data set

In [16]:
# import pandas

import pandas as pd

In [17]:
df = pd.read_csv('complete.csv')

In [18]:
# Check data frame typ
type(df)

pandas.core.frame.DataFrame

In [19]:
df.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611

## Clean Data Set

### Check data

In [20]:
# Check data info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88820 entries, 0 to 88819
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   datetime              88820 non-null  object
 1   city                  88679 non-null  object
 2   state                 81330 non-null  object
 3   country               76314 non-null  object
 4   shape                 85827 non-null  object
 5   duration (seconds)    88815 non-null  object
 6   duration (hours/min)  85747 non-null  object
 7   comments              88785 non-null  object
 8   date posted           88820 non-null  object
 9   latitude              88817 non-null  float64
 10  longitude             88677 non-null  float64
dtypes: float64(2), object(9)
memory usage: 7.5+ MB

In [34]:
# Change latitude to float

df['latitude'] = df['latitude'].astype(float)

In [ ]:
# Change date posted to date
# Some dates have a missing '0' in front of the date. Correct using the following function

# find length of string in cell

df['length'] = df['date posted'].str.len()

In [49]:
# if < 10 add 0 to the front

if df['length'] < 10:
    df['date posted'].zfill(1)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [45]:
df

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,length
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111,9
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082,10
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667,9
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833,9
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611,9
...,...,...,...,...,...,...,...,...,...,...,...,...
88815,09/09/2013 22:00,napa,ca,us,other,1200,hour,Napa UFO&#44,9/30/2013,38.297222,-122.284444,9
88816,09/09/2013 22:20,vienna,va,us,circle,5,5 seconds,Saw a five gold lit cicular craft moving fastl...,9/30/2013,38.901111,-77.265556,9
88817,09/09/2013 23:00,edmond,ok,us,cigar,1020,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,9/30/2013,35.652778,-97.477778,9
88818,09/09/2013 23:00,starr,sc,us,diamond,0,2 nights,On September ninth my wife and i noticed stran...,9/30/2013,34.376944,-82.695833,9
88819,09/09/2013 23:30,ft. lauderdale,fl,us,oval,0,still occuring,Hovering object lit with red and white lights&...,9/30/2013,26.121944,-80.143611,9